<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FormDatabaseConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Old2014_1Context" connectionString="metadata=res://*/EntityModel.OldModel2014_1.csdl|res://*/EntityModel.OldModel2014_1.ssdl|res://*/EntityModel.OldModel2014_1.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;password=masterkey;userid=SYSDBA;port=3050;pooling=True;packetsize=8192;charset=UTF8;connectionlifetime=15;datasource=192.168.1.1;dialect=3;database=G:\WORK\Mash\new_form\base\forImport\FORM2014-1.GDB;maxpoolsize=50;minpoolsize=0&quot;" providerName="System.Data.EntityClient" />
    <add name="BrandNewContext" connectionString="metadata=res://*/EntityModel.BrandNewModel.csdl|res://*/EntityModel.BrandNewModel.ssdl|res://*/EntityModel.BrandNewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FORM3;initial catalog=FormGeneral;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <FormDatabaseConverter.Properties.Settings>
      <setting name="DBExtension" serializeAs="String">
        <value>.GDB</value>
      </setting>
      <setting name="InternalDriveLetter" serializeAs="String">
        <value>G</value>
      </setting>
      <setting name="ExternalServerAddress" serializeAs="String">
        <value>\\master</value>
      </setting>
      <setting name="CommitBufferSize" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="ProgressBarUpdateRate" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultYear" serializeAs="String">
        <value>2014</value>
      </setting>
      <setting name="DefaultNumber" serializeAs="String">
        <value>2</value>
      </setting>
    </FormDatabaseConverter.Properties.Settings>
  </userSettings>
</configuration>